<!-- Header Image and Logo -->
<div id="youthcodeheader"><header class="clearfix">
<div class="span12C">
<div class="centerLogo">
<h1>Youth & College Code Camps <br /><br />for the next generation of entrepreneurs</h1>
<br /> <!--<h3>Applications are now open for Athens, Charlotte, and Durham.</h3>
			<h3>Scroll down for details on course offerings and dates at each&nbsp;branch.</h3>--></div>
</div>
</header></div>
<section id="youthcode"></section>
<div id="projectwrap_2">
<div class="container"><br /><br />
<h3>Youth Code Camps</h3>
<h2>Start Young...<br />The next generation is full of entrepreneurs and tech wizards just waiting to be exposed to the tools they need to succeed. Spaces are filling up quickly at camps across the Southeast. Submit your tech all-star's application for bootcamp now.</h2>
<center>
<h1><a href="javascript:void( window.open('http://form.jotform.us/form/32026290224140', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))">Enroll your child now</a></h1>
</center>
<h3><!-- PICTURES--></h3>
<div class="row"><br />
<div class="span4" ng-repeat="gallery in galleries">
<div class="project_item">
<div class="project_item_center">
<div class="mask2"><a rel="prettyPhoto"><img alt="" src="{{gallery.image}}" /></a></div>
<div class="clear"></div>
<h3>{{gallery.title}}</h3>
</div>
</div>
<!-- project_item_center --></div>
<!-- project_item --> <br /><hr /></div>
</div>
<!-- container --> <!--END PICTURES-->
<p></p>
<!-- Clients Logo -->
<div class="container">
<div class="row">
<div class="clients">
<h2>What the kids will learn...</h2>
<h4>-HTML language basics<br />-exposure to animation<br />-how an idea is developed and pushed to the web<br />-how to code simple programs with Ruby<br />-what is possible with technology and how it can be used to solve real world problems</h4>
<p></p>
<center><hr />
<h1>Upcoming camps</h1>
</center>
<h3>Charlotte</h3>
<h3>Kids' Code Camp at Packard Place<br />Saturday, May 10th.</h3>
<h3>Free Youth Code Thursdays kick off on May 1.</h3>
<h3><br />Athens<br />Kids&rsquo; Code Camp at FourAthens&nbsp;<br />Saturday, March 22.</h3>
<h3><br />Raleigh<br />Kids&rsquo; Code Camp at TBD<br />Saturday, April 26th</h3>
<h3><br />Atlanta<br />We'll be announcing new dates soon!&nbsp;<br /></h3>
<h3><br />In addition, be sure to sign up for our newsletter to learn about our new multi-city initiative to offer free code afternoons to youth.</h3>
<hr />
</div>
</div>
</div>
</div>
<!--CONTAINER -->
<!--PROJECT WRAP -->


